h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    }

a:hover{
    background-color: rgb(80, 235, 255);
}